*{
	padding: 0;
	margin: 0;
}

.clear{
	clear: both;
}

.aa{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sheet{
	width: 100%;
	background: #e9ecec;
}

.head{
	background-color: #fff;
	height: 80px;
}

.title{
	width: 1200px;
	margin: 0 auto;
}

.logo{
	padding: 20px 0;
}

.title_r{
	float: right;
}

.title ul{
	list-style: none;
}

.title ul li{
	float: left;
	height: 80px;
}

.li_1{
	width: 100px;
	border-left: 1px solid #e4e4e7; 
	border-right: 1px solid #e4e4e7;
}

.li_2{
	width: 100px;
	border-right: 1px solid #e4e4e7;
}

.li_3{
	width: 150px;
}

.head_img{
	width: 40px;
	height: 40px;
	padding: 20px 10px 0 12px;
	float: left;
}

.head_1{
	color: #323232;
	float: left;
	padding-top: 22px;
	font-weight: 500;
}

.head_2{
	font-size: 12px;
	padding-bottom: 8px;
}

.head_3{
	font-size: 14px;
}

.edit{
	width: 22px;
	height: 24px;
	padding-left: 20px;
	padding-top: 26px;
	float: left;
}

.nav{
	height: 180px;
	width: 100%;
	background-color: #48c2fe;
}

.nav ul{
	list-style: none;
	padding-top: 20px;
	width: 1150px;
	margin: 0 auto;
}

.nav ul li{
	width: 100px;
	height: 90px;
	margin-right: 20px;
	float: left;
	border-radius: 10px;
	text-align: center;
}

.bg{
	background-color: #33a5de;
}

.nav ul li a{
	text-decoration: none;
	color: #ffffff;
}

.nav ul li img{
	padding-top: 20px;
}

.nav ul li div{
	font-size: 13px;
	padding-top: 7px;
}

.list{
	width: 1200px;
	margin: -45px auto 0;
	background-color: #ffffff;
	border-radius: 15px;
	border: 1px solid #d5d8d8;
	position: relative;
}

.list .arrow{
	position: absolute;
	top: -6px;
	left: 430px;
	width: 0;
	height: 0;
	border: solid 6px #fff;
	transform:rotate(45deg);
}

.bottom{
	height: 42px;
	width: 100%;
	background-color: #48c2fe;
	margin-top: 50px;
}

.list_top{
	margin: 30px;
}

.sign_all{
	margin: 34px 25px 0 25px;
	font-size: 14px;
}

a{
	text-decoration: none;
	color: inherit;
}

.sign_title{
	list-style: none;
	padding-bottom: 34px;
	border-bottom: 1px solid #dddddd;
}

#title_bg{
	color: #ff7f5b;
}

.sign_title li{
	float: left;
	overflow: hidden;
	color: #888888;
	padding-right: 30px;
	padding-left: 30px;
	border-right: 1px solid #d3d9dc;
}

.table_top{
	font-size: 17px;
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.box{
	border: 1px solid #cad1d4;
	border-radius: 5px;
	height: 47px;
	line-height: 47px;
	padding-left: 15px;
	margin-bottom: 10px;
	position: relative;
	font-size: 14px;
	
}

.box2{
	width: 526px;
	margin-left: 325px;	
}

.box3{
	width: 240px;
}

.box4{
	margin-left: 325px;
}

.input{
	border: none;
	outline: none;
	right: 15px;
	top: 15px;
	font-size: 14px;
	position: absolute;
}

.input23{
	width: 380px;
}

.input22{
	width: 360px;
	right: 57px;
}

.input3{
	width: 130px;
}

.input4{
	right: 30px;
	width: 90px;
}

.input5{
	width: 360px;
	right: 30px;
}

.input_ri{
	position: absolute;
	right: 15px;
	padding-left: 15px;
	border-left: 1px solid #dddddd;
	height: 37px;
	top: 5px;
	line-height: 40px;
	font-size: 12px;
}

.input_al{
	display: inline-block;
}

.input_right{
	display: inline-block;
	margin-top: 20px;
	margin-left: 25px;
	font-size: 12px;
	color: #cad1d4;
}

.xiala{
	background: url('../img/img1/03_02.png') center no-repeat;
	width: 10px;
	height: 6px;
	position: absolute;
	right: 12px;
	top: 21px;
	border: none;
	outline: none;
}

.baozhang{
	font-size: 13px;
	padding-bottom: 15px;
	padding-top: 10px;
	margin-left: 335px;
}

.btn_g{
	text-align: center;
	margin-bottom: 45px;
	margin-top: 30px;
}

.btn{
	width: 70px;
	height: 35px;
	font-size: 14px;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 6px;
}

.btn1{
	background-color: #3498db;
	margin-right: 25px;
}

.btn2{
	background-color: #e74c3c;
}

.mask{
	display: none;
	background-color: rgba(255,255,255,0.3);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.drop{
	position: absolute;
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #dddddd;
	position: absolute;
	z-index: 1000;
}

.drop_1{
	width: 257px;
	top: 47px;
	left: -1px;
}

.drop_2{
	width: 544px;
	top: 47px;
	left: -1px;
}

.drop li{
	height: 57px;
	border-bottom: 1px solid #fff;
	line-height: 57px;
	padding-left: 15px;
}


